build/
.flutter-plugins-dependencies
pubspec.lock
.dart_tool/
.dart_tool/flutter_build/dart_plugin_registrant.dart
.dart_tool/hooks_runner/shared/objective_c/.lock
macos/Flutter/GeneratedPluginRegistrant.swift
